body {
    font-family: 'Do Hyeon', sans-serif;
    background-color: #ffffff;
}
.countsort {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 250%;
}
.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
</style > .nav-distance {
    padding: 2.1% 7.7%;
}
.navbar-light .navbar-brand {
    line-height: 1.68;
    text-align: left;
    color: #35465d;
}
.navbar-light .navbar-toggler {
    border-color: #ffffff;
}
.pulse:hover,
.pulse:focus {
    -webkit-animation: pulse 1s;
    animation: pulse 1s;
    box-shadow: 0 0 0 2em rgba(255, 255, 255, 0);
}

@-webkit-keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 var(--hover);
    }
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 var(--hover);
    }
}
.pulse {
    --color: #7d7d7d;
    --hover: #545454;
}

button {
    color: var(--color);
    -webkit-transition: 0.25s;
    transition: 0.25s;
}
button:hover,
button:focus {
    border-color: var(--hover);
    color: #545454;
}

button {
    background: none;
    border: 2px solid;
    font: inherit;
    line-height: 1;
    margin: 0.5em;
    padding: 1em 2em;
}

